footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: var(--color-secondary);
    padding: 35px 0 20px 0;
    width: 100%;
    cursor: default;
  
    .logo {
      width: 122px;
      height: 40px;
      filter: brightness(0) invert(1); /* Change la couleur en blanc */
    }
  
    @media (max-width: 600px) {
      font-size: 0.8rem;
      padding: 20px 0 10px 0;
    }
  }
  