footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 35px 0 20px 0;
    width: 1440px;

      .logo {
        width: 122px;
        height: 40px;
        filter: brightness(0) invert(1); /* Change la couleur en blanc */      
    }
    @media (max-width: 600px) {
        font-size: 0.5rem;
    }
    .break-mobile {
        display: none; // Caché par défaut sur grand écran
      
        @media (max-width: 600px) {
          display: block; // Devient visible sous 600px
        }
      }
      

}

