.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Écarte le logo et le menu */
    width: 1240px; /* Largeur fixe */
    .logo {
        @media (max-width: 600px) {
            width: 145px;
            height: 47px;
        }
    }
    ul {
        display: flex;
        gap: 40px;
        @media (max-width: 600px) {
            gap:10px;
        }
        }
    }


  