.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
    @media (max-width: 1024px) {
        gap: 210px;
      }
      @media (max-width: 845px) {
        gap: 100px;
      }
  }