@use "./pages-styles/home";
@use "./pages-styles/about";
@use "./pages-styles/HousingFiles";
@use "./pages-styles/Error404";

@use "./layout/header";
@use "./layout/footer";

@use "./cards";
@use "./slideshow";
@use "./banner";
@use "./collapse";



html {
  overflow-y: scroll;
}

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  --color-primary: #FF6060;   /* Couleur principale */
  --color-secondary: #FFFFFF; /* Couleur secondaire */
  --color-third: #f6f6f6;     /* Couleur de fond */
}

main {
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    font-size: 12px;
    text-transform: uppercase;
  }
}

ul {
  list-style: none;
}

.break-mobile {
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}