@use "./layout/header";
@use "./layout/footer";
@use "./pages-styles/home";
@use "./pages-styles/about";
@use "./Banner.css";
@use "./Cards.css";
@use "./collapse.css";
@use "./pages-styles/Error404.css";


// commande pour watch tous les styles scss
// sass --watch src/styles:src/styles

html {
  overflow-y: scroll;
}


:root {
  font-family: "Montserrat", sans-serif
}

* {
  box-sizing: border-box; /* Appliquer border-box à tous les éléments */
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

html, body {
  overflow-x: hidden;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 600px) {
        font-size: 12px;
        text-transform: uppercase;
      }
  }
  
ul {
    list-style: none; 
}


.break-mobile {
  display: none; // Caché par défaut sur grand écran

  @media (max-width: 600px) {
    display: block; // Devient visible sous 600px
  }
}

